.top-section {
  background-color: #EEEEEE;
  padding: 0px 15px;
}

.dropdown-button {
  background-color: inherit;
  border: none;
  font-size: 10px;
  padding: 0;
  margin:0;
}

.dropdown-button:hover {
  background-color: inherit;
}

.dropdown-button2 {
  background-color: inherit;
  border: none;
  font-size: 10px;
  padding: 0;
  margin:0;
}

.dropdown-button2:hover {
  background-color: inherit;
}

#topnav li a {
  font-size: 18px;
  color: #444444;
  font-weight: 300;
  text-transform: capitalize;
}

.side-nav {
  width: 350px;
}


.side-nav li a {
  font-size: 20px;
  font-family: 'Roboto', thin;
  font-weight: normal;
  color: #6E6E6E;
}

#side-logo {
  padding: 40px 20px 0px;
}

.side-nav li {
  padding: 8px 0px;
}

.border-bottom:after {
  background: #e0e0e0;
  content: '';
  display: block;
  height: .0625rem;
  margin: .5rem 1.5rem;
}

#logo {
  padding-top: 10px;
}

.brand-logo {
  margin-left: 50px;
}

#search {
  padding-right: 20px;
}

.nav-wrapper .material-icons {
  font-size: 35px;
  color: #6E6E6E;
}

.nav-wrapper {
  background-color: #EEEEEE;
  border: 0;
  text-shadow: 0;
}

.nav-wrapper a {
  color: #8E8E8E;
}

.top-title {
  color: #444444;
}
.top-title h3 {
  font-weight: 300;
  padding-left: 20px;
  margin-top: 80px;
  margin-bottom: 50px;
}


#bigcard-subtitle {
  font-size: 18px;
}

#top4title {
  color: #6E6E6E;
}

.sameheight1 {
  position: relative;
}

#top4subtitle {
  position: absolute;
  bottom: 5px;
  right: auto;
  left: auto;
}

#top4title {
  padding-bottom: 20px;
}


.row {
  margin-bottom: 0;
}

/*does not work and not sure why. used inline styling as workaround*/
/*.card-content {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0:
  padding-right: 0;
}*/

.top4 img {
  float: left;
  width: 100%;
  margin: 0px;
}

.top4 p {
  font-size: 20px;
  color: #424242;
}

.top4 p:last-child {
  font-size: 16px;
  color: #8E8E8E;
  padding-top: 15px;
}

.top4 .material-icons {
  font-size: 20px;
  vertical-align: middle;
  color: #6E6E6E;
}

.middle-section {
  padding: 60px 30px;
  color: #6E6E6E;
  background-color: #FAFAFA;
}

.middle-section h4 {
  font-weight:300;
}

.middle-section li {
  font-size: 18px;
  padding: 10px 0;
  font-weight: 400;
}

.middle-section ul h5 {
  padding-top: 20px;
  font-weight: 300;
}

.card {
  height: 100%;
}

.tools img {
  width: 100%;
  padding-top: 10px;
}

.toolbtn {
  background-color: #3367D6;
  display: block;
  width: 180px;
  height: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  font-size: 15px;
}

.toolbtn:hover {
  background-color: #4285F4;
}

.footer {
  background-color: #3367D6;
  color: white;
  /*padding: 40px 20px;*/
}

.footer h3 {
  font-weight: 200;
  font-size: 35px;
}

#email, #company {
  font-size: 22px;
  font-weight: 200;
}

.subscribebtn {
  background-color: #FFFFFF;
  color: #3367D6;
  display: block;
  width: 140px;
  height: 50px;
  padding-top: 8px;
  margin: 30px auto;
  font-size: 15px;
}

.subscribebtn:hover {
  background-color: #FFFFFF;
  color: #4285F4;
}


.bottom-links li {
  display: inline;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 200;
}

.bottom-icons img {
  width: 26px;
}

.bottom-icons li {
  display: inline;
  padding-right: 20px;
}

.divide:before {
  background: #e0e0e0;
  content: '';
  display: block;
  height: .0625rem;
  margin: .5rem 1.5rem;
}

/* label color */
 .input-field label {
   color: white;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: white;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: white;
 }


@media screen and (min-width: 600px) and (max-width: 992px) {
  #insights li {
    width: 50%;
  }
  .footer {
    padding: 40px 130px;
  }
  #top4title {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .top-title {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 40px 130px;
  }
  .get-insights {
    width: 300px;
    font-size: 50px;
  }

  .card-title {
    margin-bottom: 50px;
  }
  #top4title {
    text-align: center;
  }
  .brand-logo {
    margin-left: 10px;
  }
}
